.except_aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.settings_header {
    font-size: 2em;
    font-weight: bolder;
}

.settings_form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 15px;
    align-items: first baseline;
}

.settings_input {
    height: 30px;
    width: 400px;
    padding: 5px;
    border: 2px solid #a6a0ed;
    border-radius: 10px;
}

.action_button {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
}

.settings_submit {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #a6a0ed;
    cursor: pointer;
}

.settings_submit:hover {
    filter: brightness(80%);
}
