{% extends "questions/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet"
          href="{% static 'questions/css/settings_style.css' %}">
    <div class="except_aside">
        <span class="settings_header">{{ user }}: Settings</span>
        <form class="settings_form" method="POST" action="{% url 'recent' %}">
            {% csrf_token %}
            <label for="login_input">Login</label>
            <input type="text"
                   id="login_input"
                   class="settings_input"
                   placeholder="Enter login...">
            <div class="input_mistake">Incorrect input</div>
            <label for="nickname_input">Nickname</label>
            <input type="text"
                   id="nickname_input"
                   class="settings_input"
                   placeholder="Enter nickname...">
            <div class="input_mistake">Incorrect input</div>
            <label for="email_input">Email</label>
            <input type="email"
                   id="email_input"
                   class="settings_input"
                   placeholder="Enter email...">
            <div class="input_mistake">Incorrect input</div>
            <label for="password_input">Password</label>
            <input type="password"
                   id="password_input"
                   class="settings_input"
                   placeholder="Enter password..."
                   minlength="8">
            <div class="input_mistake">Incorrect input</div>
            <label for="avatar_input">Avatar</label>
            <input type="file" class="avatar_input">
            <div class="action_button">
                <button type="submit" class="settings_submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
