html {
    overflow-y: scroll;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 1000px;
    font: 1em sans-serif;
}

header {
    margin: 0px 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.header_const {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.main_name_href {
    text-decoration: none;
}

.main_name {
    font-weight: bolder;
    color: black;
}

.search_input {
    height: 30px;
    border-radius: 10px;
    border: 2px solid #a6a0ed;
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
}

.find_and_ask {
    display: flex;
    gap: 5px;
    align-items: center;
}

.find_button {
    height: 30px;
    width: 70px;
    cursor: pointer;
    border: 2px solid #a6a0ed;
    border-radius: 10px;
    color: #a6a0ed;
    background-color: white;
}

.find_button:hover {
    filter: brightness(80%);
}

.ask_button {
    height: 30px;
    width: 70px;
    cursor: pointer;
    border: none;
    background-color: #a6a0ed;
    color: white;
}

.ask_button:hover {
    filter: brightness(80%);
}

.authenticated-only, .guest-only {
    display: none;
}

.authenticated .authenticated-only {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: right;
    
}

.guest .guest-only {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: right;
}

.user_photo {
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
}

.recent .recent-only {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.hot .hot-only {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.recent-only, .hot-only {
    display: none;
}

.recent_questions_header {
    font-size: 2em;
    font-weight: bolder;
}

.hot_questions_header {
    font-weight: bolder;
}

.questions {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    flex-direction: column;
    border: 2px solid #a6a0ed;
    margin: 10px 20px 10px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.question_cover {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 15px;
}

.question_photo {
    width: 50px;
    height: 50px;
}

.question_header {
    font-size: 2em;
    margin-bottom: 10px;
}

.question_text {
    display: flex;
    flex-direction: column;
}

.extra_funcs {
    display: flex;
    gap: 20px;
}

.vote_check {
    width: 50px;
}

.aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside_header {
    font-weight: bolder;
}

.popular_members {
    display: flex;
    flex-direction: column;
}

.pagination {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.pagination_item {
    padding: 5px;
    border: none;
    background-color: #a6a0ed;
    color: white;
    border-radius: 5px;
}

.pagination_item:hover {
    filter: brightness(80%);
}

.footer {
    border-top: 1px solid gray;
    padding-top: 8px;
    margin: 10px;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

#footer_text {
    display: flex;
    justify-content: center;
}